@if (isLoading) {
    <app-loader></app-loader>
}
@else {
    <app-table-component>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Idade</th>
                <th>Genero</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (item of personResponse; track $index) {
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.cpf | mask: '000.000.000-00'}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phoneNumber | mask: '(00) 00000-0000'}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.gender}}</td>
                    <td style="width: 20%;">
                        <div class="action-buttons">
                            <app-button text="Ver detalhes" [routerLink]="['/detalhes', item.personId]"></app-button>
                            <app-button text="Excluir" variant="danger" (clicked)="onClickDelete(item)"></app-button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </app-table-component>

    <div class="register-button">
        <app-button text="Cadastrar pessoa" (clicked)="onRegisterClick()"></app-button>
    </div>

    @if (showConfirmModal) {
        <app-modal title="Excluir pessoa">
            <p>Tem certeza que deseja excluir <strong>{{selectedPerson?.name}}</strong>?</p>
            <div class="action-buttons">
                <app-button text="Confirmar" (clicked)="onConfirmeDelete()" variant="danger"></app-button>
                <app-button text="Cancelar" (clicked)="onCancelDelete()" ></app-button>
            </div>
        </app-modal>
    }

    @if (showRegisterModal) {
        <app-modal title="Registrar vacina" size="large">
            <form [formGroup]=form>
                <div class="fields">
                    <app-input invalidMessage="Nome inválido" formControlName="name" label="Nome"/>
                    <app-dropdown label="Genero" [options]="GENDER_OPTIONS" (valueChange)="onSelectGender($event)"></app-dropdown>
                    <app-input invalidMessage="É necessário informar CPF" formControlName="cpf" label="CPF"/>
                    <app-input invalidMessage="É necessário informar EMAIL" formControlName="email" label="Email"/>
                    <app-input invalidMessage="É necessário informar telefone" formControlName="phoneNumber" label="Telefone"/>
                    <app-input invalidMessage="É necessário informar idade" formControlName="age" label="Idade"/>
                </div>
            </form>
            <div class="modal-action-buttons">
                <app-button text="Confirmar" [disabled]="this.form.invalid" (clicked)="onSaveRegister()" ></app-button>
                <app-button text="Cancelar" (clicked)="onCancelRegister()" variant="danger"></app-button>
            </div>
        </app-modal>
    }
}
