<app-table-component>
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Idade</th>
            <th>Genero</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @for (item of paginatedResponse?.items; track $index) {
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.cpf}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.birthDate}}</td>
                <td>{{item.gender}}</td>
                <td style="width: 20%;">
                    <div class="action-buttons">
                        <app-button text="Ver detalhes"></app-button>
                        <app-button text="Excluir" variant="danger" (clicked)="onClickDelete(item)"></app-button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</app-table-component>

@if (showConfirmModal) {
    <app-modal title="Excluir pessoa">
        <p>Tem certeza que deseja excluir <strong>{{selectedPerson?.name}}</strong>?</p>
        <div class="action-buttons">
            <app-button text="Confirmar" (clicked)="onConfirmeDelete()" variant="danger"></app-button>
            <app-button text="Cancelar" (clicked)="onCancelDelete()" ></app-button>
        </div>
    </app-modal>
}