<div [class]="overlayClasses" 
     [style.z-index]="zIndex"
     (click)="onBackdropClick($event)">
  
  <div [class]="modalClasses" 
       [ngStyle]="modalStyles"
       role="dialog" 
       aria-modal="true"
       [attr.aria-labelledby]="title ? 'modal-title' : null">
    
    <!-- Header -->
    <div *ngIf="showHeader" [class]="headerClasses">
      <div class="modal-title-container">
        <h2 *ngIf="title" id="modal-title" class="modal-title">{{ title }}</h2>
        <ng-content select="[slot=header]"></ng-content>
      </div>
      
      <button *ngIf="closable" 
              type="button"
              class="modal-close-btn"
              (click)="onCloseClick()"
              aria-label="Fechar modal">
        <i class="icon-x"></i>
      </button>
    </div>

    <!-- Body -->
    <div [class]="bodyClasses" [ngStyle]="bodyStyles">
      <ng-content></ng-content>
    </div>

    <!-- Footer -->
    <div *ngIf="showFooter" [class]="footerClasses">
      <ng-content select="[slot=footer]"></ng-content>
    </div>
  </div>
</div>