.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;

        thead, tbody {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        th, td {
            padding: 12px 16px;
            text-align: left;
            border-bottom: 1px solid #050607;
        }


        thead th {
            background-color: #f1f5f9;
            font-weight: 600;
            font-size: 14px;
            color: #374151;
            text-transform: uppercase;
        }

        tbody tr:hover td {
            background-color: #f9fafb;
        }
    }
}
